@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

:root{
    --cor01: #7A8CBF;
    --cor02: #B6D0F2;
    --cor03: #7EBCF2;
    --cor04: #79F2AE;
    --cor05: #65BF85;
    --cor06: #F2E857;
    --cor07: #F2C84B;
    --cor08: #F26457;
    --cor09: #0D0D0D;
    --corFundo: #d5dfe7;
    --fontTask: 'Nunito', sans-serif;
    --fontMain: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}