@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

:root{
    --cor01: #7A8CBF;
    --cor02: #B6D0F2;
    --cor03: #7EBCF2;
    --cor04: #79F2AE;
    --cor05: #65BF85;
    --cor06: #F2E857;
    --cor07: #F2C84B;
    --cor08: #F26457;
    --cor09: #0D0D0D;
    --corFundo: #d5dfe7;
    --fontTask: 'Nunito', sans-serif;
    --fontMain: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red ;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--corFundo);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--fontMain);
}

header{
    background-color: var(--cor01);
    padding: 5px 50px;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header h1{
    font-size: 2rem;
}

header label{
    font-size: 1.5rem;
    padding: 5px;
    background-color: var(--cor04);
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.303);
    cursor: pointer;
    transition: 1s;    
}

header label:hover{
    transform: scale(1.2);
    background-color: var(--cor05);
}


