@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

:root{
    --cor01: #7A8CBF;
    --cor02: #B6D0F2;
    --cor03: #7EBCF2;
    --cor04: #79F2AE;
    --cor05: #65BF85;
    --cor06: #F2E857;
    --cor07: #F2C84B;
    --cor08: #F26457;
    --cor09: #0D0D0D;
    --corFundo: #d5dfe7;
    --fontTask: 'Nunito', sans-serif;
    --fontMain: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--corFundo);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--fontMain);
}

header{
    background-color: var(--cor01);
    padding: 5px 50px;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header h1{
    font-size: 2rem;
}

header label{
    font-size: 1.5rem;
    padding: 5px;
    background-color: var(--cor04);
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.303);
    cursor: pointer;
    transition: 1s;    
}

header label:hover{
    transform: scale(1.2);
    background-color: var(--cor05);
}

main{
    background-color: var(--cor03);
    width: 100vw;
    height: 45px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 5px;
    background-color: var(--cor02);
    border-radius: 5px;
}

form input{
    background-color: var(--corFundo);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#submit{
    background-color: var(--cor04);
    transition: 1s;
    cursor: pointer;
}

#submit:hover{
    background-color: var(--cor05);
}
main p{
    font-size: .9rem;
}

main p a{
    color: var(--cor09);
    background-color: var(--cor04);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.303);
    text-decoration: none;
    transition: 1s;
}

main p a:hover{
    background-color: var(--cor05);
}

.intro-container *{
    border: 1px solid red;
}

.intro-container{
    max-width: 500px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--cor02);
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.303);

}

.intro-container p{
    font-family: var(--fontTask);
    text-align: center;
    text-wrap: wrap;
    text-indent: .2rem;
    font-size: 1,2rem;
    color: var(--cor09);
}

.intro-container p span{
    color: var(--cor04);
}










