<!-- {% extends 'base/main.html' %}
{% block content %}
 -->
 {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/tasks.css' %}">

<body>
    <header class="header-container">
        <h1>My To Do List</h1>
        <div class="login-container">
            {% if request.user.is_authenticated %}
                <p>{{request.user}}</p>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login'%}">Login</a>
            {% endif %}
        </div>
    </header>
    <main class="main-container">
        <div class="tools-container">
            <form method="get">
                <label for="search">Search for a task</label>
                <input type="text" name="search-area" value="{{search_input}}" id="search">
                <input type="submit" value="Search" id="submit">
            </form>
            <a href="{% url 'task-create' %}">Add New Task</a>
        </div>
    
        <div class="ListaTarefa">
            <h2>Task List</h2>
            <ul class="tasks">
                {% for task in tasks %}
                <li class="task-item">
                    <div>{{task.title}}</div>
                    <div class="task-buttons">
                        <div><a href="{%url 'task' task.id%}" id="view">View</a></div>
                        <div><a href="{%url 'task-update' task.id%}" id="edit">Edit</a></div>
                        <div><a href="{%url 'task-delete' task.id%}" id="delete">Delete</a></div>
                    </div>
                </li>
                {% empty %}
                <li>
                    <div>No Tasks in the List</div>
                </li>
                {% endfor%}
            </ul>
        </div>
    </main>
</body>


        <!-- <table>
            <tr>
                <th>Tarefa</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {%for task in tasks%}
            <tr>
                <td>{{task.title}}</td>
                <td><a href="{%url 'task' task.id%}">Conferir</a></td>
                <td><a href="{%url 'task-update' task.id%}">Editar</a></td>
                <td><a href="{%url 'task-delete' task.id%}">Apagar</a></td>
            </tr>
            {%empty%}
                <h2>Sem tarefas no Momento</h2>
            {%endfor%}
        </table> -->
<!-- {% endblock content %} -->