
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<body>
    <header>
        <h1>My To Do List</h1>
        <label for="submit" >Create Account</label>
    </header>
    <main>
        <div class="form-container">
            <form method="post">
                <div class="inputs">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Create Account" id="submit">
                </div>
            </form>
            <p>Already have an a account? <a href="{%url 'login'%}">Login</a></p>
        </div>
    </main>
</body>

